{% args vars %}
<script>
//add objects to our namespace - this can be done immediately
fs.replLoad = function(data,dest) {
    //load an array into a list
    //data is the array
    //dest is the list element ID to load it into
    eid = dest;
    list = document.getElementById(eid); //NB: does not work if use function param!!
    list.innerHTML = '';
    for (let response=0; response<data.length; response++) {
        li = document.createElement('li');
        li.innerHTML = data[response];
        list.appendChild(li);
    };
 };
fs.doReplLine = function(e) {
    //send a repl command to the server and get its response
    function replResponse(data) {
        //callback with the response from our command send
        if (command == '_clear') {
            fs.responses = [];
            fs.commands  = [];
        }
        fs.commands.push(command);
        fs.responses.push(data);
        fs.replLoad(fs.commands ,'fs-repl-command-history');
        fs.replLoad(fs.responses,'fs-repl-response-history');
    };
    if (e.keyCode == 13) {
        //user pressed the enter key
        command = e.target.value
        fs.send('repl',command,replResponse);
        e.target.value = '';
    }
 };
fs.responses = [];
fs.commands  = [];
//prepare the page - we have to wait for the document to be ready for this, so...
document.addEventListener('DOMContentLoaded',function(event){
{% if len(vars[1]) > 0 %}
{%     for r in vars[1] %}
    fs.responses.push({{r}});
{%     endfor %}
    fs.replLoad(fs.responses,'fs-repl-response-history');
{% endif %}
{% if len(vars[0]) > 0 %}
{%     for c in vars[0] %}
    fs.commands.push({{c}});
{%     endfor %}
    fs.replLoad(fs.commands,'fs-repl-command-history');
{% endif %}
});
</script>
<div id='fs-repl'>
    <div class='fs-repl-response'>
        <p>Response history:</p>
        <ol id='fs-repl-response-history'></ol>
    </div>
    <div class='fs-repl-command'>
        <input type='text' size='80' placeholder='enter a command' onkeydown='fs.doReplLine(event)'/>
    </div>
    <div class='fs-repl-command'>
        <p>Command history:</p>
        <ol id='fs-repl-command-history'></ol>
    </div>
</div>
