#also hacked versions of these:
# picoweb
# uasyncio,
# ulogging
# utemplate
#see fipy/lib
#rshell has also been hacked to make it work:
#rshell
micropy-cli
mypy
mypy-extensions
Transcrypt==3.7.16 #NB: Requires python 3.7, use pyenv to switch pythons
typed-ast==1.4.2
typing-extensions==3.7.4.3
